// Navigation Styles here

.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px dashed @silver;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 90px 25px;
    a {
        .anchor-reset();
        font-size: 2.1rem;
        padding: 0px 30px;
    }
    h1 {
        width: 20%;
    }
    nav {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
}